html{
  height: 100%;
  width: 100%;
}

body {
  color: #000;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  height: 100%;
  line-height: 1.5;
  padding-right: 0 !important; }

a {
  text-decoration: none;
  outline: 0 none; }

ul {
  padding: 0; }

h1 {
  font-size: 38px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #43484d; }

h2 {
  font-size: 30px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #43484d; }

p {
  font-family: 16px;
  line-height: 24px;
  color: #5e6977;
  font-weight: 300; }

.btn-success {
  background-color: #7dc855;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 25px; }

.btn-default {
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #e1e8ee;
  color: #43484d;
  padding: 15px 30px; }

.btn-default:hover {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 2px solid #e1e8ee;
  transition: background-color 500ms ease-out 0.2s; }

.section-title {
  font-size: 52px;
  font-weight: 300;
  color: #43484d; }

.section-subtitle {
  font-size: 22px;
  font-weight: 100;
  line-height: 32px;
  color: #5e6977;
  width: 55%;
  margin: 20px auto 40px; }

.pt-50 {
  padding-top: 50px; }

.pt-70 {
  padding-top: 70px; }

/***************************** Header ****************************/
.hero {
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
width: 100%;
height: 100%;}

.navbar {
  padding: 30px 0 30px 0; }
  .navbar .brand img {
    padding-top: 11px; }
  .navbar li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-right: 20px; }
  .navbar li a:hover, .navbar li a:focus {
    background-color: transparent;
    color: #7dc855;
    text-decoration: none;
    outline: medium none; }
  .navbar .nav-btn {
    padding: 10px 27px !important;
    border: 2px solid #7dc855;
    border-radius: 3px;
    margin-top: 5px; }
  .navbar .nav-btn:hover {
    color: #fff;
    background: #7dc855;
    opacity: 0.9; }

.navbar-toggle {
  background: transparent none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-size: 31px;
  margin-right: 15px;
  margin-top: -15px;
  position: relative; }

.masthead {
  padding: 90px 0 80px 0;
  text-align: center; 
}

  .masthead h1 {
    color: #fff; }
  .masthead p {
    color: #fff;
    font-size: 22px;
    font-weight: 100;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 30px;
    text-align: center;
    width: 70%; }
  .masthead .search-field {
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    padding: 0px  30px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px; }
  .masthead form {
    position: relative;
    margin-top: 10px; }
  .masthead form button {
    position: absolute;
    right: 25px;
    top: 25px;
    background: none;
    border: none;
    font-size: 30px;
    color: #86939e; }
  .masthead .btn-hero {
    border: 3px solid #fff;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 50px; }
  .masthead .btn-hero:hover {
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: background-color 500ms ease-out 0.2s;
    -moz-transition: background-color 500ms ease-out 0.2s;
    -o-transition: background-color 500ms ease-out 0.2s;
    transition: background-color 500ms ease-out 0.2s; }

.single-masthead {
  padding: 0 0 40px; 
  height: 100%;
}

.single-masthead .btn-hero {
  margin-top: 10px;
  float: right; 
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.logo-text{
  color: #fff;
}
.square {
    height: 55px;
    width: 55px;
}