html{
  height: 100%;
  width: 100%;
}

body {
  color: #726f6f;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  height: 100%;
  line-height: 1.5;
  padding-right: 0 !important;
  font-weight: 300;}

a {    
    text-decoration: none;
    -webkit-transition: .25s;
    transition: .25s;
}

.navbar-nav li.active a {
    color: #fff;
}


.navbar {

background: #009688 !important;
    color: #fff !important;    
    border: 0;
    border-radius: 0;
}

.navbar-nav > li > a {
    padding: 15px 21px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.75);
}

.navbar-nav > li > a:hover {
   color: #fff;
 }



.navbar .nav {
    margin-top: 8px;
}

.navbar .nav-btn {
    border: 2px solid #ddd;
    padding: 6px 20px;
    margin-top: 7px;
    color: #fff;
}

.navbar .nav-btn:hover {
    color: #fff;
    border: 2px solid #fff;
}


.form-control, .select2-search input[type="text"] {
    height: 35px;
    padding: 5px 6px;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    line-height: 1.467;
    color: #34495e;
    border: 2px solid #bdc3c7;
    border-radius: 6px;
    box-shadow: none;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
}


.btn-group > .btn + .dropdown-toggle {
    padding: 9px 9px !important;
    padding-left: 12px;
    border-left: 2px solid rgba(52,73,94,.15);
}

.container-fluid{
  padding-right: 0 !important;
  padding-left: 0 !important;
}


.help-block{
    color: #e74c3c;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}
/******** Header ****************************/


.hero {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; 
width: 100%;
height: 100%;}


.masthead .btn-hero {
  border: 3px solid #009688;
  border-radius: 5px;
  padding: 10px 20px;
  color: #009688 !important;
  margin-top: 50px;color: #7d7d7d; }


.masthead .btn-hero:hover {
  border: 3px solid #7d7d7d;
  color: #7d7d7d !important;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.logo-text{
  color: #fff;
}
.square {
  position: relative;
    height: 45px;
    width: 45px;
}

